<h1>Blocks test</h1>
<p>Chaning the text</p>
<h2>sub title</h2>
<p>Checkout my pull:</p>
<a href="https://github.com/vlang/v/pull/17840" target="_blank">
    <div class="link-img" style="background-image: url('https://opengraph.githubassets.com/2ed1be94e45b8448b812333467d9a858eade0a76ccf60bfacdc2f09305a20bdb/vlang/v/pull/17840');"></div>
    <div class="link-title">Vweb: add controllers by Casper64 · Pull Request #17840 · vlang/v</div>
    <p class="link-description">Vweb add ability to use controller so you are able to have one struct per &quot;/&quot;.  E.g. a struct Admin for urls starting with &quot;/admin&quot; and a struct Foo for urls starting with &quot;/foo&quot;
Usage
In the follo...</p>
    <span class="link-anchor">https://github.com</span>
</a>
<div class="quote">
    <blockquote>To be or not to be</blockquote>
    <p class="quote-caption">Abraham lincoln</p>
</div>
<div class="img">
    <img src="https://w7.pngwing.com/pngs/150/440/png-transparent-meme-culture-idea-saying-meme-culture-text-presentation.png"/>
    <p class="img-caption">MEME</p>
</div>
<div class="table">

    <div class="tc-row tc-head">

        <div class="tc-cell">First</div>
        <div class="tc-cell">Second</div>
    </div>

    <div class="tc-row">

        <div class="tc-cell">1</div>
        <div class="tc-cell">2</div>
    </div>
</div>
<p>Inl<i>i</i>ne<b> text</b> and <font style="color: rgb(255, 19, 0);">colors&nbsp;</font></p>
