<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@title</title>
    <!-- Roboto Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/blocks.css"/>
    <link rel="stylesheet" href="/css/codemirror.css"/>
</head>
<body>
<nav>
    <a href="/" class="brand">V Blog</a>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/admin">Admin Panel</a>
    </div>
</nav>
<main>
@content
</main>
</body>
</html>