/* Blocks */
main {
    max-width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
}

.table {
    position: relative;
    display: grid;
    border: 1px solid #e8e8eb;
    line-height: 1.4;
    width: 100%;
    margin: 1em 0px;
}

.table .tc-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    border-bottom: 1px solid #e8e8eb;
    background-color: white;
}

.table .tc-row:nth-child(even) {
    background-color: #fafafa
}

.table .tc-row:last-child {
    border-bottom: 0px;
}

.table .tc-cell {
    border-right: 1px solid #e8e8eb;
    padding: 6px 12px;
    overflow: hidden;
    outline: none;
    line-break: normal;
}

.table .tc-cell:last-child {
    border-right: 0px;
}

.table .tc-head .tc-cell {
    font-weight: 600;
}

.link-block {
    background: #fff;
    border: 1px solid rgba(201, 201, 204, 0.48);
    box-shadow: 0 1px 3px rgba(0,0,0, .1);
    border-radius: 6px;
    padding: 25px;
    text-decoration: none;
    position: relative;
    display: block;
    max-width: 650px;
    margin: 2em auto;
}

.link-block .link-title {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 10px;
}

.link-block .link-description {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.55em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.link-block .link-anchor {
    display: block;
    font-size: 15px;
    line-height: 1em;
    color: #888 !important;
}

.link-block .link-img {
    position: absolute;
}

.quote-block {
    margin: 2em 0px;
}

.quote-block blockquote {
    border-left: 8px solid #68a1d1;
    padding: 10px 0px 10px 30px;
    background-color: var(--light);
    font-weight: 300;
    font-size: 32px;
    margin: 0;
}

.quote-block .quote-caption, .img-block .img-caption, .embed-block .embed-caption {
    padding-left: 5px;
    color: #3b3b3b;   
    font-size: 14px;  
}

.img-block, .embed-block {
    margin: 2em auto;
    width: fit-content;
}

.img-block {
    max-width: 100%;
}

.img-block img {
    max-width: 100%;
}

.embed-block {
    max-width: 650px;
    width: 100%;
}

.embed-block iframe {
    width: 100%;
    aspect-ratio: 16/9;
}